.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 137px;
  padding-right: 137px;
  padding-bottom: 147px;

  @media (max-width: $tablet-width) {
    padding-left: 106px;
    padding-right: 106px;
    padding-bottom: 70px;
  }

  @media (max-width: $mobile-width-only) {
    padding-left: 0;
    padding-right: 0;
  }
}

.about-us__title {
  margin-bottom: 45px;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 27px;
    font-size: 24px;
    line-height: 41px;
    letter-spacing: -0.005em;
  }
}
