.main-info {
  width: 393px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 340px;
    width: 100%;
    background-color: $grey;
    background-image: url("../../img/header-bike.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 63px;
  }

  @media (max-width: $mobile-width-only) {
    min-height: 390px;
  }
}

.main-info__title {
  margin-top: 25px;
  margin-bottom: 22px;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-width) {
    width: auto;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width-only) {
    width: 270px;
    margin-top: 48px;
  }
}

.main-info__info {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.8;

  @media (max-width: $tablet-width) {
    width: 435px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    width: 288px;
  }
}
