.page-header {
  min-height: 825px;
  display: flex;
  justify-content: center;
  color: $layout-white;
  background-color: $grey;
  background-image: url("../../img/header-bike.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page-header__wrapper {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 874px;
  position: relative;
}
