.page-body {
  font-family: $default-font;
  font-size: 20px;
  line-height: 32px;
  color: $layout-black;

  min-height: 100%;
  margin: 0;

  min-width: 300px;

  display: flex;
  flex-direction: column;
}

.page-body--hiden {
  overflow: hidden;
}
