// Colors-layout
$layout-white: #ffffff;
$layout-black: #000000;
$layout-lighter-black: #1c1c1c;
$layout-blue: #0ad9c6;
$layout-grey: #c9ccd4;

//My colors

$grey: #202020;

//Fonts
$default-font: "Open Sans", "Arial", sans-serif;

// Viewports
$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
